/* src/components/RingCarousel.css */

.ring-carousel {
  perspective: 1500px;
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
   width: 0 !important;
   height: 0 !important;
  transform-style: preserve-3d;
  transform: rotateX(var(--ring-tilt));
  animation: spin var(--ring-speed) linear infinite;
}

@keyframes spin {
  to {
    transform: rotateX(var(--ring-tilt)) rotateY(360deg);
  }
}

.ring__item {
  --angle: calc((var(--i) / var(--n)) * 360deg);
  position: absolute;
  top: 0;
  left: 0;
  transform:
  rotateY(var(--angle))
  translateZ(var(--ring-radius));
}

.book-card {
  width: 60px;
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 0.5rem;

  background: rgba(34, 41, 58, 0.35); /* 완전 연~하게 */
  border-radius: 0.7rem;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.08);

  /* 인스타 감성 Glass 효과 */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(12px);
  border: 1.2px solid rgba(255,255,255,0.18);

  /* 텍스트에 그림자도 추가하면 더 눈에 띔 */
  text-shadow: 0 1px 5px rgba(0,0,0,0.17);
}
